body {
    font-family: "微软雅黑";
    margin: 0px;
    padding: 0px;
    background-color: white;
    min-width: 1290px;
}
//给首页的页面增加背景颜色
.wk-body{
    background-color: #F4F6FA;
}
.col-12{
    padding: 0;
}