.wkea-index-nav-content-top-left ul {
    background-color: white;
    margin-bottom: 0px;
}
.wkea-index-nav-content-top-left ul li{
    z-index: 100000000;
}
.wkea-index-nav-content-top-left ul li a {
    font-size: 12px;
    color: #34495E;
    font-family: "微软雅黑";
}
.wkea-index-nav-content-top-left ul li ul {
    position: absolute;
    z-index: 10000000;
    display: none;
    top: 0px;
    margin-left: 234px;
    list-style: none;
    padding: 0px;
    width: 808px;
    height: 520px;
    border: 1px solid #EFF3F6;
    background-color: white;
}
.wkea-index-nav-content-top-left ul li:hover{
    background-color: rgba(0, 156, 225, 0.17);
}
.wkea-index-nav-content-top-left ul li:hover ul{
    display: block;
}
.wkea-index-nav-content-top-left ul li:hover .float-right{
    overflow:hidden;
}
.wkea-index-nav-content-top-left ul li:hover svg{
    filter: drop-shadow(#009CE1 80px 0);
    transform: translateX(-80px);
    // -webkit-filter: drop-shadow(0px 0px 0px #009CE1);
}
.wkea-index-nav-content-top-left ul li:hover div{
    color: #009CE1;
}
.wkea-index-nav-content-top-left ul li:hover ul{
    border: 1px solid #009CE1;
}
.wkea-index-nav-content-top-left ul li ul li:hover{
    background-color: white;
}
.wkea-index-nav-content-top-left ul li ul li:hover a{
    padding-bottom: 5px;
    border-bottom: 1px solid #009CE1;
    text-decoration: none;
    color: #009CE1;
}
.wkea-index-nav-content-top-left ul li ul li {
    float: left;
    padding: 0px;
    margin: 0px;
    height: 50px;
    line-height: 50px;
    padding-left: 60px;
    width: 402px;
}
.wkea-index-nav-content-top-left {
    width: 250px;
    float: left;
}
.wkea-index-nav-content-top-left ul li{
    padding-left: 15px;
    padding-right: 15px;
    height: 40px;
    line-height: 40px;
}