.wkea-index-person-content-top-right{
    background-color: white;
    width: 230px;
    height: 507px;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}
.wkea-index-person-content-top-right-top{
    text-align: center;
    width: 230px;
    line-height: 80px;
    height: 80px;
}
.wkea-index-person-content-top-right-welcome{
    text-align: center;
    width: 230px;
    height: 40px;
    color: #34495E;
}
.wkea-index-person-content-top-right-welcome span{
    display: block;
    color: #939EA9;
    font-size: 12px;
    font-family: 'TitilliumWeb';
}
.wkea-index-person-content-top-right-pay{
    height: 80px;
}
.wkea-index-person-content-top-right-pay ul{
    padding: 0;
    margin: 0;
    width: 230px;
    height: 80px;
}
.wkea-index-person-content-top-right-pay ul li{
    font-family: "微软雅黑";
    color: #333333;
    font-size: 12px;
    height: 85px;
    text-align: center;
    width: 75px;
}
.wkea-index-person-content-top-right-pay ul li span{
    color: #019be1;
    font-size: 16px;
    font-family: 'TitilliumWeb';
    padding-top: 15px;
    padding-bottom: 5px;
    display: block;
}
.wkea-index-person-content-top-right .wkea-index-person-content-top-right-btn{
    background-color: white;
    width: 230px;
    height: 55px;
    border: none;
    outline: none;
    color: #34495E;
}
.wkea-index-person-content-top-right hr{
    background-color: #EFF3F6;
    width: 85%;
    margin: 0 auto;
    padding: 0;
}
.wkea-index-person-content-top-right-need{
    padding-left: 20px;
    padding-right: 20px;
    height: 110px;
}
.wkea-index-person-content-top-right-need +.wkea-index-person-content-top-right-need button{
    color: #34495e;
    background-color: white;
    border: 1px solid #009ce1;
}
.wkea-index-person-content-top-right-need + .wkea-index-person-content-top-right-need button{
    font-weight: bold;
}
.wkea-index-person-content-top-right-need button{
    font-family: "微软雅黑";
    font-size: 14px;
    background-color: #009ce1;
    color: white;
    width: 196px;
    height: 50px;
    border-radius: 5px;
    border: none;
    outline: none;
}
.wkea-index-person-content-top-right-need span{
    padding-top: 10px;
    display: block;
    font-size: 12px;
    font-family: "微软雅黑";
    color: #a2acb5;
}
.wkea-index-person-content-top-right .wkea-index-person-division{
    margin-bottom: 20px;
}