$msv-checkout-button-margin: 15px auto;
$msv-checkout-button-text-align: center;
$msv-checkout-button-align-items: center;
$msv-checkout-button-justify-content: center;
$msv-checkout-button-width: 100%;
$msv-checkout-button-border-radius: 2px;
$divider-vertical-margin: 20px;
$cart-items-right-margin: 40px;
$cart-empty-image-width: 183px;
$cart-empty-image-width-m: 80px;
$summary-min-width: 320px;
$summary-max-width: 480px;
$cart-heading-bottom: 20px;
$cart-heading-top: 32px;
$cart-cartline-wrapper-margin-right: 40px;
$cart-cartline-wrapper-margin-bottom: 1.5rem;
$cart-cartline-line-padding-right: 20px;
$cart-content-margin-left: 200px;
$cart-cartline-line-product-padding-bottom: 10px;
$cart-cartline-line-product-price-padding-top: 10px;
$cart-cartline-line-product-price-margin-left: 0px;
$cart-cartline-item-content-margin-left-m: 100px;
$cart-promo-code-input-width-m: 170px;
$cart-order-summary-padding-m: 20px;
$cart-promo-code-input-height: 50px;

//style presets
:root {
  // heading
  --msv-cart-heading-font-size: var(--msv-heading-font-size-s);
  --msv-cart-heading-font-color: var(--msv-font-primary-color);
}

.msc-cart__btn-checkout,
.msc-cart__btn-guestcheckout,
.msc-promo-code__apply-btn {
  @include button-default();
  @include primary-button(var(--msv-cart-primary-btn-bg), var(--msv-cart-primary-btn-font-color), var(--msv-cart-primary-btn-border));
  align-items: $msv-checkout-button-align-items;
  display: flex;
  justify-content: $msv-checkout-button-justify-content;
}

.msc-cart__btn-checkout,
.msc-cart__btn-guestcheckout,
.msc-cart__btn-backtoshopping {
  margin: $msv-checkout-button-margin;
  width: $msv-checkout-button-width;
}

.msc-cart__btn-guestcheckout {
  @include button-default();
  @include secondary-button(var(--msv-cart-secondary-btn-bg), var(--msv-cart-secondary-btn-font-color), var(--msv-cart-secondary-btn-border));
}

.msc-cart__btn-backtoshopping {
  @include button-link(var(--msv-cart-btn-link-color));
}

.ms-cart {
  display: flex;
  flex-wrap: wrap;

  .msc-cart__heading {
    @include font-content(var(--msv-font-weight-normal), var(--msv-cart-heading-font-size), $msv-title-line-height-xs);
    color: var(--msv-cart-heading-font-color);
    flex: 0 0 100%;
    // margin-bottom: $cart-heading-bottom;
    // margin-top: $cart-heading-top;
  }

  .msc-cartline-wraper {
    // border-top: 1px solid var(--msv-cart-border);
    flex: 1;
    // margin-bottom: $cart-cartline-wrapper-margin-bottom;
    // margin-right: $cart-cartline-wrapper-margin-right;
  }

  .msc-cart-line {
    position: relative;

    &__product-image {
      position: absolute;

      .msc-empty_image {
        @include image-placeholder($cart-empty-image-width);
      }
    } 

    &__content,
    &__bopis-container,
    &__extra-actions {
      margin-left: $cart-content-margin-left;
    }
  }

  .msc-cart-lines-item > .msc-cart-line__add-to-wishlist ~ .msc-cart-line__remove-item {
    margin-left: auto;
  }

  .msc-cart-lines-item > .msc-cart-line__add-to-wishlist, .msc-cart-lines-item > .msc-cart-line__remove-item {
    margin-left: $cart-content-margin-left;
  }

  .msc-promo-code {
    &__input-box {
      height: $cart-promo-code-input-height;
    }
  }
}

@media screen and (max-width: $msv-breakpoint-m) {
  .ms-cart {
    display: block;

    .msc-cartline-wraper {
      margin-right: 0px;
      width: 100%;
    }

    .msc-cart-lines-item > .msc-cart-line__add-to-wishlist,
    .msc-cart-lines-item > .msc-cart-line__remove-item {
      margin-left: $cart-cartline-item-content-margin-left-m;
    }

    .msc-cart-lines-item {

      .msc-cart-line {

        &__product-image {
          .msc-empty_image {
            @include image-placeholder($cart-empty-image-width-m);
          }
        }

        &__content {
          display: block;
          margin-left: $cart-cartline-item-content-margin-left-m;
        }

        &__bopis-container,
        &__extra-actions {
          margin-left: $cart-cartline-item-content-margin-left-m;
        }

        &__product {
          padding-bottom: $cart-cartline-line-product-padding-bottom;

          &-quantity {
            padding-bottom: $cart-cartline-line-product-padding-bottom;
          }
          &-savings {
            margin-left: 0px;
            text-align: left;
          }
          &-price {
            margin-left: $cart-cartline-line-product-price-margin-left;
            padding-top: $cart-cartline-line-product-price-padding-top;
            text-align: left;
          }
        }
      }
    }

    .msc-promo-code {
      &__input-box {
        width: $cart-promo-code-input-width-m;
      }

      &__apply-btn {
        min-width: auto;
      }
    }

    .msc-order-summary-wrapper {
      padding: $cart-order-summary-padding-m;
      width: 100%;
    }

    .msc-order-summary__items {
      @include font-content-s();
    }
  }
}
.quantity {
    // display: flex;
    .quantity-input {
      width: 48px;
      height: 20px;
      display: inline-block;
      margin-left: 20px;
      margin-right: 8px;
      -moz-appearance: textfield;
      border: 1px solid rgba(246,246,246,1);
      color: #707070;
      &::-webkit-inner-spin-button,
      &::-webkit-outer-spin-button {
        -webkit-appearance: none;
      }
      vertical-align: bottom;
    }

    .quantity__controls {
      padding-left: 0px;
      padding-right: 0px;
      background: $msv-white;
      border: none;
      cursor: pointer;
      outline: none;
      &:disabled {
        color: $msv-gray-300;
      }
    }

    .increment, .decrement {
      position: relative;
      color: #2699FB;
      font-size: 20px;
      line-height: 14px;
      &::before {
        position: absolute;
        left: 0;
        top: -6px;
        content: '+';
      }
      @media screen and (-ms-high-contrast: white-on-black) {
        color: #2699FB;
      }
      &.disabled {
        color: #C8C8C8;
      }
      &:not(:disabled):not(.disabled):active,
      &:not(:disabled):not(.disabled):active:focus {
        color: #2699FB;
      }
    }

    .decrement {
      font-size: 28px;
      &::before {
        content: '-';
      }
    }
  }

  